
.contact{
    background-image: url('../../image/medium-shot-doctor-with-crossed-arms_23-2148868176.jpg');
    /* height: 600px; */
    background-size: 100%;
    background-repeat: no-repeat;
}
.text{
    color: goldenrod;
    padding: 50px;
    border-bottom: 5px solid goldenrod;
    margin-left:300px ;
    margin-right: 300px;
}
.carts{
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    padding-bottom: 100px;
}



  @media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    .text{
        font-size: .5rem;
        margin-left:150px ;
    margin-right: 150px;
    padding: 20px;
    }
   

}
 @media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .text{
        font-size: .5rem;
        margin-left:150px ;
    margin-right: 150px;
    padding: 20px;
    }
   
    
}



@media only screen and (max-width: 425px){
    .text{
      
        margin-left:20px ;
        margin-right: 20px;
    }
    .contact{
       height: 600px; 
    }
    .carts{
        margin-top: 10px;
    }
  }

