.menu{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #7952b3;
 }

 .logo{
     color: white;
 }
.all-nav{
    padding-top: 5px;
}
 
 
 .link{
     padding-right: 15px;
     padding-left: 15px;
     text-decoration: none;
     color: white;
     font-weight: 700;
 }

 .link:hover{
     background-color: coral;
     color: white;
     padding: 4px;
     border-radius: 5px;

 }


 .sec-link{
     background-color: coral;
     text-decoration: none;
     padding: 5px 15px;
     border-radius: 5px;
     color: white;
     font-weight: 700;
     margin-left: 4px;
 
 }

 @media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    .link{
        padding-right: 5px;
        padding-left: 5px;
      
        font-weight: 400;
    }
    .sec-link{
        margin-left: 0px;
    }
    .text-info{
        display: block;
    }

}
 @media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
   
    .link{
        padding-right:5px;
        padding-left: 5px;
      
        font-weight: 700;
    }
    .menu{
        display: block;
    }
    .sec-link{
        margin-left: 0px;
    }
    .text-info{
        display: block;
    }
}



 @media only screen and (max-width: 425px){
    .menu{
        display: block; 
    }
    .link{
         display: block;
         padding: 5px;
     }
     .text-info{
         display: block;
     }
   
 }

