.carouserl-img{
    height: 500px;
}
/* .carousal-item{
    color:  black;
    padding-bottom: 100px;
    align-items: flex-start;
    margin-right: 500px;
} */


.img{
    height: 700px;
}

.captions{
    color: #004861;
}





 @media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
  .img{
    height: 400px;
    
}

}
 @media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
   
    .img{
        height: 350px;
        
    }
    p{
       font-size: 0.5rem;
    }
    .captions{
        font-size: .8rem;
    }
}



@media only screen and (max-width: 425px){
    .img{
        height: 250px;
        width: 100%;
        
    }
    p{
        font-size: .3rem;
    }
    .carosal{
        margin-top: 10px;
    }
    .captions{
        font-size: .5rem;
    }
  }
